
#students-section {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(90deg, #1E7B9D, #400A68);
    font-size: 2.5vw;
    letter-spacing: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}

#students-section h3 {
    padding-top: 4vh;
    padding-bottom: 4vh;
    letter-spacing: 3px;
}

#students-container {
    padding: 2%;
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.student-card {
    background-image: url(../icon/student_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 23%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.student-card-photo {
    width: 100%;
    height: 100%;
    background-image: url(../icon/square_example.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}

.student-card:hover .student-card-photo {
    transform: scale(1.3);
}

.student-card:hover {
    transform: scale(0.9);
}