@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "SuperMario";
    src: url("fonts/SuperMario286/SuperMario286.woff")format("woff"),
        url("fonts/SuperMario286/SuperMario286.ttf")format("ttf"),
        url("fonts/SuperMario286/SuperMario286.woff2")format("woff2"),
        url("fonts/SuperMario286/SuperMario286.otf")format("otf");
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SuperMario", sans-serif;
    color: white;
    line-height: 1.5;
}

#mobile-menu {
    display: none;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    overflow: hidden;
}


#close-menu-btn {
    position: absolute;
    background-image: url('res/exit_btn.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

#nav-mobile-menu {
    display: flex;
    flex-direction: column;
}

#nav-mobile-menu a {
    color: #7017b4;
    margin: 5%;
    font-size: 7vw;
    text-decoration: none;
}


#start-section {
    overflow: hidden;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    padding-top: 8vh;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, #1E7B9D, #400A68);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-content {
    margin-top: 20vh;
    text-align: center;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 8vh;
    background-color: rgba(231, 105, 228, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    z-index: 3;
}

.header-scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px gray;
}

.conteiner {
    position: relative;
}

#logo-link {
    display: block;
    height: 100%;
    width: 15vw;
}

.logo {
    width: 100%;
    height: 100%;
    background-image: url("res/logo.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.logo-scrolled {
    width: 100%;
    height: 100%;
    background-image: url("res/logo_scrolled.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.menu {
    height: 100%;
    padding-right: 1%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    text-decoration: none;
    font-size: 2vw;
    transition: 0.5s;
}

.menu-button-scrolled {
    color: black;
}

.menu-button-scrolled:hover {
    color: #400D69;
}

.menu-button-no-scrolled {
    color: white;
}

.menu-button-no-scrolled:hover {
    color: #E769E4;
}

.start-content h1 {
    font-size: 7vw;
    text-shadow: 0px 5px 10px rgb(49, 49, 49);
}

#start-section h2 {
    margin-bottom: 10px;
    font-size: 2.5vw;
    letter-spacing: 2px;
}

#main-btn {
    max-width: 100%;
    max-height: 300px;
    width: 40%;
    z-index: 1;
}

#select-course {
    width: 20%;
    margin-top: 30px;
    position: relative;
}

#select-course-btn {
    width: 100%;
}

#select-course:hover {
    animation-name: select-course-btn-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#pointer {
    position: absolute;
    height: 60px;
    bottom: 0;
    right: 0;
}

.blue-letter {
    color: #A4FFDE;
}

.purple-letter {
    color: #E769E4;
}

#mountains {
    position: absolute;
    background-image: url(res/mountains.png);
    width: 35%;
    height: 46vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0vh;
}

#right-tree {
    position: absolute;
    background-image: url(res/right-tree.png);
    width: 10%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 7%;
    bottom: 4vh;
}

#kodamic {
    position: absolute;
    background-image: url(res/kodamic.png);
    width: 6%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 7%;
    bottom: 3vh;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(res/ground.png);
    height: 10vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#left-cloud {
    position: absolute;
    background-image: url(res/two_clouds.png);
    width: 22%;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -20vh;
    top: 20vh;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 8s);
    animation-iteration-count: infinite;
}

#right-cloud {
    position: absolute;
    background-image: url(res/two_clouds.png);
    width: 25%;
    height: 23vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: -11vh;
    top: 30vh;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 6s);
    animation-iteration-count: infinite;
}

#mashroom {
    position: absolute;
    background-image: url(res/mashroom.png);
    width: 7%;
    height: 27vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 30%;
    bottom: 2vh;
}

#hearts {
    position: absolute;
    background-image: url(res/hearts.png);
    width: 15%;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    left: 2vh;
    top: 6vh;
}

#stars {
    position: absolute;
    background-image: url(res/stars.png);
    width: 15%;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    right: 2vh;
    top: 6vh;
}

.top-decor {
    position: absolute;
    top: -1px;
    width: 100%;
    background-image: url(res/top_decor.png);
    height: 25vh;
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
    z-index: 1;
}

#about-section {
    text-align: center;
    color: white;
    position: relative;
}

.about-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    flex: 1;
    margin-top: 23vh;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 24vh;
}

.left h2 {
    color: #400D69;
    font-size: 3vw;
    text-align: start;
}

.left p {
    margin-top: 20px;
    color: black;
    font-size: 2vw;
    text-align: start;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    max-width: 50%;
}

.bottom-decor {
    position: absolute;
    bottom: -1px;
    width: 100%;
    background-image: url(res/bottom_decor.png);
    height: 25vh;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    z-index: 1;
}

#between-decor-purple {
    background-color: #410E6A;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    letter-spacing: 2px;
    z-index: 2;
}

#between-decor-purple h3 {
    color: white;
    font-size: 3vw;
    text-align: center;
}

#courses-section {
    text-align: center;
    max-height: 150vh;
    color: rgb(221, 245, 255);
    display: relative;
}

.courses-content {
    padding-top: 30vh;
    position: relative;
}

.courses-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}

.course-card {
    width: 35%;
    margin: 70px;
    padding: 20px;
    background-color: #FDFDFD;
    border-radius: 20px;
    box-shadow: 0 10px 8px #410E6A;
    transition: 1s;
    z-index: 1;
    border: #f7b63d 3px solid;
    overflow: visible;
}

.course-card:hover {
    background-color: #612c8b;
    color: white;
    box-shadow: 7px 15px 8px #410E6A;
    animation-name: flying;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border: #f7873d 4px solid;
}

.course-card:hover img {
    animation-name: bright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.course-card img {
    max-width: 30%;
    height: auto;
    transform: translateY(-35%);
    transition: transform 0.3s;
}

.course-card-text {
    width: 60%;
    margin: 0 auto;
    transform: translateY(-35%);
}

.course-card-text h3 {
    font-family: "Sansita", sans-serif;
    font-style: bold;
    text-align: center;
    font-size: 2vw;
}

.course-card-text p {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    font-style: italic;
    text-align: center;
}

.cloud {
    position: absolute;
    background-image: url(res/cloud.png);
    width: 15%;
    height: 18vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 7s);
    animation-iteration-count: infinite;
}

#cloud-right-top {
    --duration: 5s;
    right: 5vh;
    top: 25vh;
}

#cloud-right-bottom {
    --duration: 10s;
    right: 9vh;
    bottom: 20vh;
}

#cloud-middle {
    --duration: 8s;
    left: 40%;
    top: 50vh;
}

#cloud-left-bottom {
    --duration: 6s;
    left: 5vh;
    bottom: 35vh;
}

.two-clouds {
    position: absolute;
    background-image: url(res/two_clouds.png);
    width: 25%;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 7s);
    --duration: 2s;
    animation-iteration-count: infinite;
}

#two-clouds-top {
    --duration: 7s;
    left: 5%;
    top: 10vh;
}

#two-clouds-bottom {
    --duration: 9s;
    bottom: 0;
    left: 35%;
}

#students-section {
    margin-top: 12vh;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(90deg, #1E7B9D, #400A68);
    font-size: 2.5vw;
    letter-spacing: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#students-section h3 {
    padding-top: 4vh;
    padding-bottom: 4vh;
    letter-spacing: 3px;
}

#students-section div {
    padding: 2%;
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.student-card {
    background-image: url(res/student_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 23%;
    padding: 10%;
    transition: 0.6s;
}

.student-card-photo {
    display: block;
    width: 100%;
    background-image: url(res/student.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}

.student-card:hover .student-card-photo {
    transform: scale(1.3);
}

.student-card:hover {
    transform: scale(0.9);
}

#guide-school-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #410E6A;
}

#guide-school-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

#guide-school-content h3 {
    font-size: 3vw;
}

#guide-school-video {
    width: 60%;
    height: 71%;
    border: #E769E4 6px solid;
    border-radius: 7px;
    z-index: 1;
}

#questions-section {
    width: 100%;
    min-height: 110vh;
    height: auto;
    position: relative;
    overflow: hidden;
}

#top-decor-without-bubbles {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url(res/top_decor_without_bubbles.png);
    height: 25vh;
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
    z-index: 0;
}

.bubble {
    position: absolute;
    background-image: url("res/purple_bubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: float 5s linear infinite;
    z-index: 0;
    display: block;
    border-radius: 100%;
}

#questions-content {
    z-index: 1;
    padding: 5%;
    padding-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questions-content h2 {
    color: #400D69;
    font-size: 3vw;
    text-align: start;
    z-index: 1;
}

#fabs {
    width: 70%;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 1;
}

.faq-left {
    margin: 2%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.faq-right {
    margin: 2%;
    flex: 1.3;
    display: flex;
    flex-direction: column;
}

.faq {
    width: 100%;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
    color: #410E6A;
    font-family: sans-serif;
}

.faq-item {
    margin: 15px;
    margin-bottom: 5px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFC75C;
    cursor: pointer;
}

.faq-answer {
    margin-left: 15px;
    border: 1px solid #410E6A;
    display: none;
    background-color: #f0f0f0;
}

#submit-app-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7b63d;
    color: black;
    height: 80vh;
}

#submit-app-content {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submit-app-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    width: 15vw;
}

#submit-app-photo {
    width: 15vw;
}

#submit-app-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit-app-form__btn {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.square {
    position: absolute;
    background-color: #E769E4;
    z-index: 0;
}

#square1 {
    top: 10%;
    left: 10%;
    width: 20px;
    height: 20px;
}

#square2 {
    bottom: 55%;
    left: 15%;
    width: 25px;
    height: 25px;
}

#square3 {
    bottom: 5%;
    left: 10%;
    width: 30px;
    height: 30px;
}

#square4 {
    top: 85%;
    left: 95%;
    width: 35px;
    height: 35px;
}

#square5 {
    top: 75%;
    left: 88%;
    width: 40px;
    height: 40px;
}

#square6 {
    top: 15%;
    left: 75%;
    width: 22px;
    height: 22px;
}

#square7 {
    top: 30%;
    left: 90%;
    width: 28px;
    height: 28px;
}

#square8 {
    top: 45%;
    left: 5%;
    width: 32px;
    height: 32px;
}

#square9 {
    bottom: 30%;
    left: 5%;
    width: 18px;
    height: 18px;
}

#square10 {
    bottom: 5%;
    left: 3%;
    width: 23px;
    height: 23px;
}

#square11 {
    top: 10%;
    left: 50%;
    width: 27px;
    height: 27px;
}

#square12 {
    top: 25%;
    left: 65%;
    width: 33px;
    height: 33px;
}

#square13 {
    top: 40%;
    left: 80%;
    width: 19px;
    height: 19px;
}

#square14 {
    top: 55%;
    left: 95%;
    width: 21px;
    height: 21px;
}

#square15 {
    top: 15%;
    left: 15%;
    width: 26px;
    height: 26px;
}

#square16 {
    top: 30%;
    left: 30%;
    width: 29px;
    height: 29px;
}

#square17 {
    bottom: 0%;
    left: 85%;
    width: 36px;
    height: 36px;
}

#square18 {
    top: 65%;
    left: 87%;
    width: 39px;
    height: 39px;
}

#square19 {
    top: 75%;
    left: 85%;
    width: 24px;
    height: 24px;
}

#square20 {
    top: 20%;
    left: 85%;
    width: 31px;
    height: 31px;
}

@keyframes float {
    0% {
        transform: translateY(-10px);
        opacity: 1;
    }

    90% {
        opacity: 1;    
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@keyframes flying {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes cloud_flying {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bright {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.4);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes sparkles_animation {
    0% {
        filter: brightness(2);
    }

    50% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(3);
    }
}

@keyframes select-course-btn-animation {
    0% {
        filter: brightness(1);
        transform: scale(1);
    }

    50% {
        filter: brightness(1.4);
        transform: scale(1.03);
    }

    100% {
        filter: brightness(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo-main {
        width: 30vw;
    }

    .menu {
        display: none;
        flex-direction: row;
        align-items: center;
    }


    .menu.open {
        display: block;
    }

    .menu a {
        margin: 5px 0;
    }

    .button-img {
        width: 8vw;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
        outline: none;
    }

    .button-img img {
        width: 100%;
        height: auto;
    }

    #submit-app-photo {
        width: 30vw;
    }

    #submit-app-form {
        width: 30vw;
    }

    #submit-app-form input[type="submit"] {
        width: 100%;
    }

    #start-section {
        height: 85vh;
    }

    .top-decor {
        height: 13vh;
        background-size: cover;
    }

    #top-decor-without-bubbles {
        margin-top: -1px;
        height: 10vh;
        background-size: cover;
    }

    .bottom-decor {
        height: 13vh;
        background-size: cover;
    }

    .about-container {
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
    }

    .left h2 {
        font-size: 6vw;
    }

    .left p {
        font-size: 4vw;
    }
}

@media screen and (min-width: 601px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-items {
        display: flex;
        gap: 20px;
    }

    #menu-toggle {
        display: none;
    }
}