@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "QuinqueFive";
    src: url("fonts/QuinqueFive.woff2")format("woff2"),
        url("fonts/QuinqueFive.woff")format("woff"),
        url("fonts/QuinqueFive.ttf")format("ttf");
}

@font-face {
    font-family: "SuperMario";
    src: url("fonts/SuperMario286/SuperMario286.woff")format("woff"),
        url("fonts/SuperMario286/SuperMario286.ttf")format("ttf"),
        url("fonts/SuperMario286/SuperMario286.woff2")format("woff2"),
        url("fonts/SuperMario286/SuperMario286.otf")format("otf");
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SuperMario", sans-serif;
    color: white;
    line-height: 1.5;
}


.start-section {
    overflow-x: hidden;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    padding-top: 8vh;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, #1E7B9D, #400A68);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-section .content {
    text-align: center;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: rgba(231, 105, 228, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.conteiner {
    position: relative;
}

.logo {
    height: 90%;
}

.header-items {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-items a {
    color: white;
    text-decoration: none;
    font-size: 37px;
    transition: 0.5s;
}

.header-items a:hover {
    color: #A4FFDE;
}

.start-section h1 {
    font-size: 140px;
    text-shadow: 0px 5px 10px rgb(49, 49, 49);
}

.start-section h2 {
    margin-bottom: 10px;
    font-size: 50px;
    letter-spacing: 2px;
}

#main-btn {
    max-width: 100%;
    max-height: 300px;
    width: 40%;
}

#select-course {
    width: 20%;
    margin-top: 30px;
    position: relative;
}

#select-course-btn {
    width: 100%;
}

#select-course:hover {
    animation-name: select-course-btn-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#pointer {
    position: absolute;
    height: 60px;
    bottom: 0;
    right: 0;
}

.blue-letter {
    color: #A4FFDE;
}

.purple-letter {
    color: #E769E4;
}

#mountains {
    position: absolute;
    background-image: url(res/mountains.png);
    width: 30%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 7vh;
}

#right-tree {
    position: absolute;
    background-image: url(res/right-tree.png);
    width: 10%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 7%;
    bottom: 4vh;
}

#kodamic {
    position: absolute;
    background-image: url(res/kodamic.png);
    width: 6%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 7%;
    bottom: 3vh;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(res/ground.png);
    height: 10vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#left-cloud {
    position: absolute;
    background-image: url(res/two_clouds.png);
    width: 22%;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -20vh;
    top: 20vh;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 8s);
    animation-iteration-count: infinite;
}

#right-cloud {
    position: absolute;
    background-image: url(res/two_clouds.png);
    width: 25%;
    height: 23vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: -11vh;
    top: 30vh;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 6s);
    animation-iteration-count: infinite;
}

#mashroom {
    position: absolute;
    background-image: url(res/mashroom.png);
    width: 7%;
    height: 27vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 30%;
    bottom: 2vh;
}

#hearts {
    position: absolute;
    background-image: url(res/hearts.png);
    width: 15%;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    left: 2vh;
    top: 6vh;
}

#stars {
    position: absolute;
    background-image: url(res/stars.png);
    width: 15%;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    right: 2vh;
    top: 6vh;
}

.about-section {
    text-align: center;
    max-height: 200vh;
    color: white;
    display: relative;
}

.about-content {
    position: relative;
}

#top_decor {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url(res/top_decor.png);
    height: 25vh;
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.flex-section {
    display: flex;
    align-items: center;
}

.left {
    flex: 1;
    margin-top: 23vh;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 24vh;
}

.left h2 {
    color: #400D69;
    font-size: 38px;
    text-align: start;
}

.left p {
    margin-top: 20px;
    color: black;
    font-size: 33px;
    text-align: start;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    max-width: 50%;
}

#bottom_decor {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(res/bottom_decor.png);
    height: 25vh;
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

#between-decor-purple {
    background-color: #410E6A;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    letter-spacing: 2px;
}

#between-decor-purple h3 {
    color: white;
    font-size: 43px;
    text-align: center;
}

.courses-section {
    text-align: center;
    max-height: 150vh;
    color: rgb(221, 245, 255);
    display: relative;
}

.courses-content {
    padding-top: 30vh;
    position: relative;
}

.courses-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* Разрешаем перенос элементов на новую строку */
    justify-content: center;
    /* Выравниваем элементы по центру */
    color: black;
}

.course-card {
    width: 35%;
    /* Ширина каждой карточки */
    margin: 70px;
    /* Отступ между карточками */
    padding: 20px;
    background-color: #FDFDFD;
    border-radius: 20px;
    box-shadow: 0 10px 8px #410E6A;
    transition: 1s;
    z-index: 1;
    border: #f7b63d 3px solid;
    overflow: visible;
}

.course-card:hover {
    background-color: #612c8b;
    color: white;
    box-shadow: 7px 15px 8px #410E6A;
    animation-name: flying;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border: #f7873d 4px solid;
}

.course-card:hover img {
    animation-name: bright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.course-card img {
    max-width: 30%;
    height: auto;
    transform: translateY(-35%);
    transition: transform 0.3s;
}

.course-card-text {
    width: 60%;
    margin: 0 auto;
    transform: translateY(-35%);
}

.course-card-text h3 {
    font-family: "Sansita", sans-serif;
    font-style: bold;
    text-align: center;
    font-size: 33px;
}

.course-card-text p {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.cloud {
    position: absolute;
    background-image: url(res/cloud.png);
    width: 15%;
    height: 18vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 7s);
    animation-iteration-count: infinite;
}

/* Облако справа вверху */
#cloud-right-top {
    --duration: 5s;
    /* Задержка анимации */
    right: 5vh;
    top: 25vh;
}

/* Облако справа внизу */
#cloud-right-bottom {
    --duration: 10s;
    /* Задержка анимации */
    right: 9vh;
    bottom: 20vh;
}

/* Среднее облако */
#cloud-middle {
    --duration: 8s;
    /* Задержка анимации */
    left: 40%;
    top: 50vh;
}

/* Облако слева внизу */
#cloud-left-bottom {
    --duration: 6s;
    /* Задержка анимации */
    left: 5vh;
    bottom: 35vh;
}

.two-clouds {
    position: absolute;
    background-image: url(res/two_clouds.png);
    width: 25%;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    animation-name: cloud_flying;
    animation-duration: var(--duration, 7s);
    --duration: 2s;
    /* Задержка анимации */
    animation-iteration-count: infinite;
}

/* Верхнее облако из двух */
#two-clouds-top {
    --duration: 7s;
    /* Задержка анимации */
    left: 5%;
    top: 10vh;
}

/* Нижнее облако из двух */
#two-clouds-bottom {
    --duration: 9s;
    /* Задержка анимации */
    bottom: 0;
    left: 35%;
}

#students-section {
    margin-top: 12vh;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(90deg, #1E7B9D, #400A68);
    font-size: 44px;
    letter-spacing: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#students-section h3 {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#students-section div {
    padding: 2%;
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.student-card {
    background-image: url(res/student_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 23%;
    height: auto;
    padding: 10%;
    transition: 0.6s;
}

.student-card img {
    width: 100%;
    transition: 1s;
}

.student-card:hover img {
    transform: scale(1.3);
}

.student-card:hover {
    transform: scale(0.9);
}

.guide-school-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #410E6A;
}

.square {
    position: absolute;
    background-color: #E769E4;
    z-index: 0;
}

#guide-school-video {
    width: 60%;
    height: 71%;
    border: #E769E4 6px solid;
    border-radius: 7px;
    z-index: 1;
}

#questions-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

#questions-content {
    padding: 5%;
    padding-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questions-content h2 {
    color: #400D69;
    font-size: 45px;
    text-align: start;
}

#fabs {
    width: 50%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.faq-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.faq-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.faq-item {
    margin: 15px;
    font-family: sans-serif;
    background-color: #f0f0f0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 70%;
    color: #410E6A;
    border-radius: 5px;
    cursor: pointer;
}

.faq-answer {
    margin-left: 15px;
    margin-top: -5px;
    font-family: sans-serif;
    display: none;
    padding: 10px;
    width: 70%;
    color: #410E6A;
    background-color: #d3d3d3;
    border-radius: 5px;
}








#square1 {
    top: 10%;
    left: 10%;
    width: 20px;
    height: 20px;
}

#square2 {
    top: 25%;
    left: 25%;
    width: 25px;
    height: 25px;
}

#square3 {
    top: 80%;
    left: 40%;
    width: 30px;
    height: 30px;
}

#square4 {
    top: 85%;
    left: 55%;
    width: 35px;
    height: 35px;
}

#square5 {
    top: 70%;
    left: 70%;
    width: 40px;
    height: 40px;
}

#square6 {
    top: 15%;
    left: 75%;
    width: 22px;
    height: 22px;
}

#square7 {
    top: 30%;
    left: 90%;
    width: 28px;
    height: 28px;
}

#square8 {
    top: 45%;
    left: 5%;
    width: 32px;
    height: 32px;
}

#square9 {
    top: 60%;
    left: 20%;
    width: 18px;
    height: 18px;
}

#square10 {
    top: 75%;
    left: 35%;
    width: 23px;
    height: 23px;
}

#square11 {
    top: 10%;
    left: 50%;
    width: 27px;
    height: 27px;
}

#square12 {
    top: 25%;
    left: 65%;
    width: 33px;
    height: 33px;
}

#square13 {
    top: 40%;
    left: 80%;
    width: 19px;
    height: 19px;
}

#square14 {
    top: 55%;
    left: 95%;
    width: 21px;
    height: 21px;
}

#square15 {
    top: 15%;
    left: 15%;
    width: 26px;
    height: 26px;
}

#square16 {
    top: 30%;
    left: 30%;
    width: 29px;
    height: 29px;
}

#square17 {
    top: 93%;
    left: 45%;
    width: 36px;
    height: 36px;
}

#square18 {
    top: 70%;
    left: 60%;
    width: 39px;
    height: 39px;
}

#square19 {
    top: 75%;
    left: 75%;
    width: 24px;
    height: 24px;
}

#square20 {
    top: 20%;
    left: 85%;
    width: 31px;
    height: 31px;
}

@keyframes flying {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes cloud_flying {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bright {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.4);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes select-course-btn-animation {
    0% {
        filter: brightness(1);
        transform: scale(1);
    }

    50% {
        filter: brightness(1.4);
        transform: scale(1.03);
    }

    100% {
        filter: brightness(1);
        transform: scale(1);
    }
}


@media screen and (max-width: 768px) {
    header {
        height: auto;
        padding: 10px;
    }

    .header-items {
        flex-direction: column;
        align-items: center;
    }

    .header-items a {
        margin: 10px 0;
    }

    .start-section {
        padding: 8vh 5% 10vh;
    }

    .start-section h1 {
        font-size: 8vw;
    }

    .start-section h2 {
        font-size: 5vw;
    }

    #main-btn {
        max-width: 80%;
        height: auto;
    }

    .about-section .left,
    .about-section .right {
        flex: 1;
        padding: 0 5%;
    }

    .about-section .right img {
        max-width: 100%;
        height: auto;
    }

    .courses-section {
        padding: 8vh 5% 10vh;
    }

    .courses-section h3 {
        font-size: 5vw;
    }

    .courses-content {
        flex-direction: column;
        /* Располагаем карточки вертикально на мобильных устройствах */
        align-items: center;
        /* Выравниваем карточки по центру */
    }

    .course-card {
        width: 80%;
        /* Уменьшаем ширину карточек для мобильных устройств */
    }
}