<section id="about-section">
    <div class="top-decor-about"></div>
    <div class="about-container">
        <div class="left">
            <h2>Добро пожаловать в мир школы программирования Kodama</h2>
            <p>
                Добро пожаловать в Kodama - онлайн-школу программирования, где мы создаем будущее вместе! Мы
                предлагаем вам уникальную возможность погрузиться в увлекательный мир кодирования и создания
                программ. Наши курсы разработаны для того, чтобы помочь вам освоить различные языки
                программирования, научиться создавать веб-сайты, игры и многое другое.

                У нас вы найдете опытных преподавателей, готовых поддержать вас на каждом шагу вашего обучения.
                Мы предлагаем гибкий график занятий, чтобы вы могли учиться в удобное для вас время, а также
                возможность работать над реальными проектами, что поможет вам применить полученные навыки на
                практике.

                Присоединяйтесь к нашему сообществу и станьте частью новой волны программистов, готовых изменить
                мир с помощью технологий!
            </p>
        </div>
        <div class="right">
            <img src="{{ url_for('static', path='/icon/right_image_about.png') }}">
        </div>
    </div>
    <div class="bottom-decor-about"></div>
</section>