<section id="courses-section">
    <div class="courses-content">
        <div class="top-decor-courses"></div>
        <div class="two-clouds" id="two-clouds-top"></div>
        <div class="two-clouds" id="two-clouds-bottom"></div>
        <div class="cloud" id="cloud-right-top"></div>
        <div class="cloud" id="cloud-right-bottom"></div>
        <div class="cloud" id="cloud-middle"></div>
        <div class="cloud" id="cloud-left-bottom"></div>
        <div class="courses-container">
            <div class="course-card" onclick="openModal()">
                <img src="{{ url_for('static', path='/icon/figma_logo.png') }}" alt="Figma">
                <div class="course-card-text">
                    <h3>Графический дизайн</h3>
                    <p>в редакторе Figma</p>
                </div>
            </div>
            <div class="course-card" onclick="openModal()">
                <img src="{{ url_for('static', path='/icon/scratch_logo.png') }}" alt="Scratch">
                <div class="course-card-text">
                    <h3>Создание 2D игр</h3>
                    <p>на языке Scratch</p>
                </div>
            </div>
            <div class="course-card" onclick="openModal()">
                <img src="{{ url_for('static', path='/icon/comp_lit_logo.png') }}" alt="Computer Literacy">
                <div class="course-card-text">
                    <h3>Компьютерная</h3>
                    <p>грамотность</p>
                </div>
            </div>
            <div class="course-card" onclick="openModal()">
                <img src="{{ url_for('static', path='/icon/roblox_logo.png') }}" alt="Roblox">
                <div class="course-card-text">
                    <h3>Создание 3D игр</h3>
                    <p>в Roblox</p>
                </div>
            </div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Название курса</h2>
                  <p>Описание курса</p>
                  <img src="" alt="Скриншот курса">
                  <img src="скриншот2.jpg" alt="Скриншот курса">
                  <p>Допустимый возраст ребенка: 10-12 лет</p>
                  <p>Кому идеально подойдет: детям, интересующимся графическим дизайном</p>
                </div>
              </div>
        </div>
    </div>
</section>