<section id="mobile-menu">
    <button id="close-menu-btn"></button>
    <a href="#top-site" id="mobile-logo-link">
        <div class="mobile-logo"></div>
    </a>
    <nav id="nav-mobile-menu">
        <a class="mobile-menu-item" href="#about-section">
            <img class="mobile-menu-icon" src="{{ url_for('static', path='/icon/about_icon.png') }}">
            О школе
        </a>
        <a class="mobile-menu-item" href="#courses-section">
            <img class="mobile-menu-icon" src="{{ url_for('static', path='/icon/courses_icon.png') }}">
            Курсы
        </a>
        <a class="mobile-menu-item" href="#questions-section">
            <img class="mobile-menu-icon" src="{{ url_for('static', path='/icon/feedbacks_icon.png') }}">
            Вопросы
        </a>
        <a class="mobile-menu-item" href="#submit-app-section">
            <img class="mobile-menu-icon" src="{{ url_for('static', path='/icon/contacts_icon.png') }}">
            Контакты
        </a>
    </nav>
</section>