<section id="questions-section">
    <div id="top-decor-faq"></div>
    <div class="bubble" style="left: 10%; animation-duration: 10s;"></div>
    <div class="bubble" style="left: 30%; animation-duration: 8s;"></div>
    <div class="bubble" style="left: 50%; animation-duration: 12s;"></div>
    <div class="bubble" style="left: 70%; animation-duration: 9s;"></div>
    <div class="bubble" style="left: 90%; animation-duration: 11s;"></div>
    <div class="bubble" style="left: 110%; animation-duration: 7s;"></div>
    <div id="questions-content">
        <h2>Вопросы, которые могут возникнуть у вас</h2>
        <div id="fabs">
            <div class="faq-left">
                <div class="faq faq-item" onclick="toggleAnswer('faq-answer1')">Продолжительность курсов</div>
                <div class="faq faq-answer" id="faq-answer1">
                    У нас каждый студент может выбирать удобное для себя количество занятий в неделю: 1, 2 или 3
                    раза. Мы учитываем вашу индивидуальную загруженность и желания.

                    Наши курсы разделены на программы разной продолжительности:

                    Для начинающих в создании 2D игр в Scratch: от 6 месяцев до 1 года.
                    Программа по графическому дизайну: от 1 года до 2 лет.
                    Программа по компьютерной грамотности: от 6 месяцев до 1 года.
                    Мы гарантируем, что ваше обучение будет не только эффективным, но и увлекательным!
                </div>

                <div class="faq faq-item" onclick="toggleAnswer('faq-answer2')">Стоимость занятий</div>
                <div class="faq faq-answer" id="faq-answer2">
                    В нашей школе представлены три варианта оплаты:

                    "Приключение" – 10 уроков за 12000 рублей, средняя стоимость урока 1200 рублей. Кроме того, при
                    покупке этого абонемента вы получаете бонусные баллы в размере 1000 рублей.
                    "Компас" – 22 урока за 24200 рублей, средняя стоимость урока около 1100 рублей. В рамках этого
                    абонемента вы получаете бонусные баллы в размере 1500 рублей.
                    "Творческий мастер" – 45 уроков за 45000 рублей, средняя стоимость урока около 1000 рублей. При
                    покупке этого абонемента вы получаете бонусные баллы в размере 2000 рублей.
                    Выбрав один из наших абонементов, вы получите возможность обучиться программированию по выгодной
                    цене и в удобном формате, а также сможете воспользоваться бонусами для дополнительных уроков или
                    материалов.
                </div>

                <div class="faq faq-item" onclick="toggleAnswer('faq-answer3')">Какие возрастные категории вы
                    обучаете?
                </div>
                <div class="faq faq-answer" id="faq-answer3">
                    Мы предлагаем обучение программированию для детей и подростков возрастом от 7 до 18 лет. Наши
                    курсы разработаны с учетом возрастных особенностей учеников:

                    Создание 2D игр в Scratch : Принимаем детей от 7 лет и старше.
                    Графический дизайн: Рекомендовано для детей от 10 лет и старше.
                    Roblox : Подходит для детей от 9 лет и старше.
                    Компьютерная грамотность: Подходит для детей от 8 лет и старше.
                </div>
            </div>

            <div class="faq-right">
                <div class="faq faq-item" onclick="toggleAnswer('faq-answer4')">Какие навыки мой ребенок приобретет?
                </div>

                <div class="faq faq-answer" id="faq-answer4">
                    Ваш ребенок приобретет навыки программирования, создания игр, работу с компьютерными
                    программами, а также улучшит логическое мышление, творческий потенциал и умение работать в
                    команде
                </div>

                <div class="faq faq-item" onclick="toggleAnswer('faq-answer5')">Какие дополнительные мероприятия
                    доступны для учеников?</div>
                <div class="faq faq-answer" id="faq-answer5">
                    Дополнительные материалы, доступные для учеников, включают в себя:

                    Учебные ресурсы: Электронные учебники, видеоуроки, презентации и онлайн-курсы, которые помогут
                    углубить знания по конкретным темам и освоить новые концепции.

                    Практические задания: Дополнительные задания и проекты, которые позволяют применить полученные
                    знания на практике и развить навыки программирования.

                    Онлайн-платформы: Доступ к специализированным онлайн-платформам и ресурсам, где ученики могут
                    участвовать в соревнованиях, решать задачи и общаться с другими участниками.

                    Справочные материалы: Различные справочники, руководства и статьи по программированию и
                    связанным с ним темам, которые помогут ученикам быстро находить нужную информацию и решать
                    возникающие вопросы.

                    Индивидуальные консультации: Возможность получить индивидуальные консультации и помощь от
                    опытных преподавателей по вопросам, связанным с учебным процессом.

                    Все эти материалы предоставляются с целью обеспечить ученикам максимально полное и эффективное
                    обучение в рамках нашей школы программирования.
                </div>

                <div class="faq faq-item" onclick="toggleAnswer('faq-answer6')">Сколько времени длится занятие?
                </div>

                <div class="faq faq-answer" id="faq-answer6">
                    В нашей школе каждое занятие продолжается 55 минут.
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-decor-faq-bg"></div>
    <div class="bottom-decor-faq-bg-transparent"></div>
    <div class="bottom-decor-faq"></div>
</section>