<section id="start-section">
    <div id="mountains"></div>
    <div id="right-tree"></div>
    <div id="left-cloud"></div>
    <div id="right-cloud"></div>
    <div id="mashroom"></div>
    <div id="hearts"></div>
    <div id="stars"></div>
    <div id="kodamic"></div>
    <div class="start-content">
        <h2>Онлайн-школа программирования</h2>
        <h1>
            K<span class="blue-letter">O</span>D<span class="purple-letter">A</span><span
                class="blue-letter">M</span>A
        </h1>
        <img id="main-btn" src="{{ url_for('root', path='./res/start_red_btn.png') }}">

        <div id="select-course">
            <a href="#courses-section" id="select-course-btn-link">
                <img id="select-course-btn" src="{{ url_for('root', path='./res/select_course_btn.png') }}">
            </a>
        </div>
    </div>
</section>
<div id="ground"></div>