<section id="students-section">
    <h3>Лучшие студенты школы</h3>
    <div id="students-container">
        <div class="student-card">
            <div class="student-card-photo student1"></div>
        </div>
        <div class="student-card">
            <div class="student-card-photo student2"></div>
        </div>
        <div class="student-card">
            <div class="student-card-photo student3"></div>
        </div>
        <div class="student-card">
            <div class="student-card-photo student4"></div>
        </div>
    </div>
</section>