<section id="submit-app-section">
    <div id="submit-app-content">
        <img id="submit-app-photo" src="{{ url_for('static', path='/icon/request_photo.jpg') }}">
        <form action="/request" method="post" id="submit-app-form">
            <h3>Запишитесь на первый урок</h3>
            <select id="course-select" name="course">
                <option value="" selected disabled hidden>Выберите курс</option>
                <option value="figma">Figma</option>
                <option value="computer-literacy">Компьютерная грамотность</option>
                <option value="scratch">Scratch</option>
                <option value="roblox">Roblox</option>
            </select>
            <input type="text" name="text" id="name" placeholder="Ваше имя">
            <input type="tel" name="tel" id="phone" placeholder="Ваш телефон">
            <input type="email" name="email" id="email" placeholder="Ваша почта">
            <button class="submit-app-form__btn" id="submit-btn" type="submit">Отправить</button>
        </form>
    </div>
</section>